<!DOCTYPE HTML>
<link rel="stylesheet" type="text/css" href="/static/css/mortimer.css">
<link rel="stylesheet" type="text/css" href="/static/external/foundation-5.5.0/css/foundation.min.css">
<script src="/static/js/external/jQuery.1.11.2.js"></script>
<HTML>

    <BODY>
    {% block content %}
        {% endblock %}
    </BODY>

</HTML>
<!--<footer class="footer">Created by Aman Ali and Arthur Hinds</footer>-->
 <footer class="row">
        <div class="large-12 columns">
          <hr />
          <div class="row">
            <div class="large-6 columns">
              <p>© Copyright no one at all. Go to town.</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>